
@{
    ViewBag.Title = "Login/Register";
}

<h2>Welcome to Kalyaan</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            This option will help to register the organization and provide the details about the organization.
        </p>
        <p><a class="btn btn-default" href="Registration">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logon</h2>
        <p>This option will help to get the list of orphanages and their details.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>
